.home {
  margin: auto;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: beige;

  .buffer{
    height: 100px;
    width: 100%;
    flex: 1;
  }

  

  .card-container {
    flex: 12;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: auto;
    width: 100%;
    overflow-y: auto;
  }
}
